/********************************
 * Central CSS file.            *
 ********************************/

/* Here should be only imports.
 * It is fine performance-wise, as Vue pre-assembles all CSSs into one file anyway.
 */
@import url("variables.css");
@import url("reset.css");
@import url("style.css");
