/********************************
 * Styles specific to this app. *
 ********************************/

/* Settings for globally used elements. */

body {
  /* Game completely centers its content in browser window. */
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: top;        /* Vertical */
  /* Other stuff. */
  color-scheme: light;
}

/*** Common elements used on multiple pages. ***/

/* Menu. */

.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  width: 100%;
  margin: 6px 0px;
}

.menu label {
  text-align: right;
}

.menu select {
  text-align: center;
}

.menu button {
  grid-column: span 2;
  width: 100%;
}
