/********************************
 * Styles specific to this app. *
 ********************************/

/* Settings for specific elements. */
body {
  /* Game completely centers its content in browser window. */
  display: flex;
  justify-content: center; /* Horizontal */
  align-items: center;     /* Vertical */
  /* Other stuff. */
  color-scheme: light;
}

h1 {
  color: #484848;
  font-size: 54px;
  text-align: center;
  text-shadow: 0 0 5px currentColor; /* The glow matches the text */
}

footer {
  font-size: 10px;
  text-align: center;
}

/* Menu. */

.menu {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 10px;
  width: 100%;
  margin: 6px 0px;
}

.menu label {
  text-align: right;
}

.menu select {
  text-align: center;
}

.menu button {
  grid-column: span 2;
  width: 100%;
}

/* Info panel. */
.info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 2px;

  margin: auto;
  width: 50%;
  font-size: 14px;
  text-align: center;
}

/* Game board. */

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 10px 200px) 10px;
  grid-template-rows: repeat(3, 10px 200px) 10px;

  background-color: #fefefe;
}

.lineskip {
  grid-column: 1 / -1
}

.boardlinev {
  background-color: #444444;
}
.boardlineh {
  background-color: #444444;
  grid-column: span 5
}

/* Score board. It is glued to right side of screen. */
.scoreboard {
  position: fixed;
  top: 0;
  right: 0;
  margin: 10px;
  padding: 10px;
  overflow-y: auto;  /* Scrollable if content is long */
  z-index: 100;  /* Ensure it's above other content */

  background-color: #f0f0f0;

  display: grid;
  grid-template-columns: 3fr, 3fr;
  gap: 2px;
}

.scoreboard h2 {
  grid-column: span 2;
  color: #484848;
  text-align: center;
  text-shadow: 0 0 3px currentColor; /* The glow matches the text */
}
